::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ea4b4b, #d4214b);
  border-radius: 10px;
  border: 2px solid #f5f5f5;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.15),
    inset 0 0 2px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #f35a5a,
    #c71919
  ); 
}


.hero-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    pointer-events: none;
    border-radius: 50%;

    background: radial-gradient(
        circle,
        rgba(255, 110, 110, 0.614),
        rgba(255, 59, 48, 0.6)
    );

    filter: blur(80px);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 4s ease;
    z-index: 9999;
}

/* Hide on mobile */
@media (max-width: 768px) {
    .hero-cursor {
        display: none;
    }
}


/* ////////////////////////////// Fonts /////////////////////////////// */

:root {
  --font-primary: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-primary);
  line-height: 1.5;
}

/* Headings */
h1 {
  font-size: clamp(2.5rem, 5vw, 3.375rem); /* 40px → 54px */
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: clamp(2rem, 4vw, 2.625rem); /* 32px → 42px */
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 1.875rem); /* 24px → 30px */
  font-weight: 500;
  line-height: 1.3;
}

/* Body text */
p {
  font-size: clamp(1rem, 1.2vw, 1.125rem); /* 16px → 18px */
  font-weight: 400;
  line-height: 1.6;
}

/* Small text */
.small-text {
  font-size: 0.875rem; /* 14px */
}
